body {
    font-size: 20px;
    background: #fff5f5;
}

#header {
    width: 100%;
    height: 8rem;
    background: #FFAA66;
    color: #ffffff;
    border: solid #ccc;
    border-radius: 10px;
}

#product_title {
    position: relative;
    left: 30px;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 5px #000000 ;
}

.title {
    position: relative;
    left: 50px;
    bottom: 10px;
    font-size: 2rem;
    text-shadow: 0 0 3px #000000;
}

#content {
    margin: 20px 0;
    height: 100%;
    padding: 50px 50px;
    background: #FFDDAA;
    border: solid #ccc;
    border-radius: 10px;
}